@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gloock&family=Noto+Sans+Mono:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", monospace;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(45deg, black, #222222b2), url('../img/the-amateur-picture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffd9008f;
}

.icon {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}